@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #8AAE9B;
  --secondary: #2C2D30;

}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}


@media (prefers-color-scheme: dark) {
  :root {
    --primary: #8AAE9B;
    --secondary: #2C2D30;
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground); 
  font-family: Arial, Helvetica, sans-serif;
}
.poppins {
  font-family: var(--font-poppins);
}

.playfair {
  font-family: var(--font-playfair);
}